@import "./variables/colors.scss";

* {
  box-sizing: border-box;
  
}

h1 {
  text-align: center;
  font-size: 4em;
  color: $primary;
  text-shadow: 1px 1px 3px #989898;
  margin-bottom: 15px;
  margin-top: 0;
}

body {
  background-color: $site-bg;
  font-family: 'Roboto Slab', serif;
}

.grocery-items {
  display: flex;
  font-family: 'Roboto Slab', serif;
}